.notification {
    position: fixed;
    top: calc(10% + 3rem);
    right: 3.5rem;
    color: #fff;
    padding: .5rem 3.5rem .5rem 2rem;
    border-radius: .75rem;
    cursor: pointer;
}

.notification.error {
    background-color: rgba(255, 0, 0, .6);
}

.notification.warning {
    background-color: rgba(255, 165, 0, .7);
}

.notification.success {
    background-color: rgba(0, 255, 0, .5);
}

.notification.info {
    background-color: rgba(0, 0, 0, .3);
}

.notification-message {
    letter-spacing: 1px;
}

.notification-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.3rem;
}

@media (max-width: 600px) {
    .notification {
        right: 1rem;
    }
}