.species-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 20px;
    padding: 2rem 3rem 1rem;
    margin: 1rem;
    min-width: 31vw;
    max-width: 35vw;
}

.species-card img {
    height: 200px;
    width: auto;
    max-width: 200px;
    border-radius: 20px;
    padding: 1rem;
    background: rgba(0, 0, 0, .5);
    margin: 0 2rem 1rem 0;
}

.species-card h2 {
    font-weight: 300;
    margin-top: 0.5rem
}

.species-card p {
    line-height: 1.5rem;
}

.species-card .card-owner {
    font-size: .875rem;
}

.species-card span {
    color: rgba(255,255,255,.7);
}

.species-card span.card-icon {
    color: #fff;
}

.species-card .flex {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
}

.species-card .flex-end {
    display: inline-flex;
    align-items: center;
}

.species-card .card-btn {
    -webkit-appearance: button;
    cursor: pointer;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,.7);
    text-align: center;
    transition: .2s ease-in;
}

.species-card .card-btn:hover {
    color: #fff;
}

.species-card .card-owner-details {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.species-card .owner-buttons {
    display: inline-flex;
    align-items: center;
}

.species-card .card-likes {
    display: inline-flex;
    align-items: center;
}

.likes-count {
    padding: 0 1rem;
    font-weight: 300;
    margin: 0;
    line-height: 1;
}

.species-card .card-likes .heart {
    font-size: 2rem;
    color: rgba(255,255,255,.7);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.species-card .card-likes .heart:hover {
    color: rgba(255,0,0,.8);
    transform: scale(1.2);
}

.species-card .card-likes .heart:hover::after {
    content: 'Give it a like!';
    font-size: .75rem;
    position: absolute;
    left: -50%;
    bottom: -1rem;
    color: #fff;
    white-space: pre;
}

.species-card .card-likes .heart.active {
    color: rgba(255,0,0,.8);
}

.species-card .card-likes .heart.active:hover {
    color: #4682b4;
}

.species-card .card-likes .heart.active:hover::after {
    content: 'Dislike!';
    left: -8%;
}

.species-card hr {
    width: 100%;
    border-color: rgba(255,255,255,.1);
}

.species-card .comments {
    width: 100%;
}

.species-card .comments-header {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.species-card .comments-header h3 {
    font-weight: 300;
    line-height: 1;
    margin: 1rem 0;
}

.species-card .comments-body form {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.species-card .comments-body input {
    font-size: .875rem;
    padding: 15px;
    width: 70%;
    border: none;
    letter-spacing: 1.5px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

.species-card .comments-body input:focus {
    outline: none;
}

.species-card .comments-body input.submit {
    width: 23%;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

.species-card .comments-body input.submit:hover {
    background-color: #3e79ab;
    border-radius: 20px;
}

.species-card .comments-body .comment {
    font-size: .875rem;
    letter-spacing: 1px;
    margin: 0;
    padding: 1rem;
}

.species-card .comments-body .comment-row {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px groove rgba(255, 255, 255, .2);
}
.species-card .comments-body .comment-row:last-of-type {
    border-bottom: none;
}


.species-card .comments-body .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}