.species-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 20px;
    padding: 2rem 3rem;
    margin: 1rem;
    min-width: 31vw;
    max-width: 35vw;
}

.species-card img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    padding: 1rem;
    background: #000;
    margin: 0 2rem 1rem 0;
}

.species-card h2 {
    font-weight: 300;
    margin-top: 0.5rem
}

.species-card p {
    line-height: 1.5rem;
}

.species-card .card-owner {
    font-size: .875rem;
}

.species-card span {
    color: rgba(255,255,255,.7);
}

.species-card span.card-icon {
    color: #fff;
}

.species-card .flex {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.species-card .flex-end {
    display: inline-flex;
    align-items: center;
}

.species-card .card-btn {
    -webkit-appearance: button;
    cursor: pointer;
    padding: 0 1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-align: center;
    transition: .2s ease-in;
}

.species-card .card-btn:hover {
    color: #3e79ab;
}

.species-card .card-owner-details {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.species-card .owner-buttons {
    display: inline-flex;
    align-items: center;
}

.species-card .card-likes {
    display: inline-flex;
    align-items: center;
}

.likes-count {
    padding: 0 1rem;
}

.species-card .card-likes .heart {
    font-size: 2rem;
    color: rgba(255,255,255,.7);
    cursor: pointer;
    transition: .5s ease-in-out;
}

.species-card .card-likes .heart:hover {
    color: rgba(255,0,0,.8);
    transform: scale(1.2);
}

.species-card .card-likes .heart:hover::after {
    content: 'Give it a like!';
    font-size: .75rem;
    position: absolute;
    left: -50%;
    bottom: -1rem;
    color: #fff;
    white-space: pre;
}

.species-card .card-likes .heart.active {
    color: rgba(255,0,0,.8);
    pointer-events: none;
}