.species-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 20px;
    padding: 2rem 3rem;
    margin: 1rem;
    min-width: 31vw;
    max-width: 35vw;
}

.species-card img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    padding: 1rem;
    background: #000;
    margin: 0 2rem 1rem 0;
}

.species-card h2 {
    font-weight: 300;
    margin-top: 0.5rem
}

.species-card p {
    line-height: 1.5rem;
}

.species-card span {
    color: rgba(255,255,255,.7);
}

.species-card .flex {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.species-card .card-btn {
    -webkit-appearance: button;
    font-size: 0.875rem;
    background-color: #4682b4;
    cursor: pointer;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    letter-spacing: 1.5px;
    width: 90px;
    margin: 0.5rem;
    text-align: center;
}

.species-card .card-btn:hover {
    background-color: #3e79ab;
}

.species-card .card-owner-details {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}