.planet-card-details {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 20px;
    padding: 3rem;
    margin: 1rem;
}

.planet-card-details img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 20px;
    padding: 1rem;
    background: #000;
    margin: 0 3rem 2rem 0;
}

.planet-card-details h2 {
    font-weight: 300;
    margin: 0.875rem 0;
}

.planet-card-details p {
    line-height: 1.5rem;
    margin: 0.875rem 0;
}

.planet-card-details span {
    color: rgba(255,255,255,.7);
}

.planet-card-details .card-btn {
    -webkit-appearance: button;
    font-size: 0.875rem;
    background-color: #4682b4;
    cursor: pointer;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    color: #fff;
    letter-spacing: 1.5px;
    min-width: 180px;
}

.planet-card-details .card-btn:hover {
    background-color: #3e79ab;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 50%;
    text-align: left;
    padding: 1rem;
    letter-spacing: 1px;
    color: #fff;
}

@media (max-width: 600px) {
    .planet-card-details {
        padding: 1rem;
        margin: 1rem 0;
    }

    .planet-card-details .card-grid {
        grid-template-columns: 1fr;
    }
}