.header {
    font-size: 1.5rem;
    color: #fff;
    height: 10%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header nav {
    display: inline-flex;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0 1.5rem;
}

.nav-link::before {
    content: "";
    border-left: 1px solid #fff;
    position: relative;
    left: -1.5rem;
}

.active-nav-link {
    color: #4682b4;
}

@media (max-width: 991px) {
    .header {
        height: 7%;
        font-size: 1.2rem;
        flex-direction: column;
    }

    .logo {
        padding-bottom: 1rem;
    }

    .nav-link {
        white-space: pre;
    }

    #user {
        display: inline-flex;
    }
}

@media (max-width: 600px) {
    .header nav {
        display: inline-block;
        text-align: center;
    }

    #user, #guest {
        margin-top: 1rem;
    }
}