.header {
    font-size: 1.5rem;
    color: #fff;
    height: 10%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header nav {
    display: inline-flex;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0 1.5rem;
}

.nav-link::before {
    content: "";
    border-left: 1px solid #fff;
    position: relative;
    left: -1.5rem;
}

.active-nav-link {
    text-decoration: underline;
}