.header {
    font-size: 1.5rem;
    color: #fff;
    height: 10%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}