.species {
    color: #fff;
    padding: 5rem;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .species {
        padding: 5rem 2rem;
    }
}

@media (max-width: 600px) {
    .species {
        padding: 5rem 2rem;
    }
}