.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.error-box {
  background-color: rgba(255,0,0,.5);
  color: #fff;
  text-align: center;
  padding: 1.5rem 2rem;
  position: fixed;
  top: calc(10% + 3rem);
  right: 3.5rem;
  width: fit-content;
  margin: auto;
  border-radius: .75rem;
}

.location-display {
  font-size: .1rem;
  color: transparent;
}